<div class="overlay" *ngIf="loading">
  <mat-spinner></mat-spinner>
</div>
<div class="title">Fill the informations</div>
<form [formGroup]="mainForm" (ngSubmit)="onSubmit()">
  <div class="form-div">
    <mat-form-field class="form-div-input">
      <mat-label>Application Name</mat-label>
      <input matInput 
        formControlName="ApplicationName"
        placeholder="Ex. Store">
    </mat-form-field>

    <!-- <mat-form-field class="form-div-input">
      <mat-label>Template Name</mat-label>
      <input matInput 
        formControlName="TemplateName"
        placeholder="Ex. CSRNet6">
    </mat-form-field> -->

    <mat-form-field class="form-div-input">
      <mat-label>Template Name</mat-label>
      <input type="text" matInput formControlName="TemplateName" [matAutocomplete]="auto">
      <mat-autocomplete #auto="matAutocomplete">
        <mat-option *ngFor="let template of templates" [value]="template">
          {{template}}
        </mat-option>
      </mat-autocomplete>
    </mat-form-field>

    <div formGroupName="DbInformation">
      <mat-form-field class="form-div-input">
        <mat-label>Server</mat-label>
        <input matInput 
          formControlName="Server"
          placeholder="Server">
      </mat-form-field>

      <mat-form-field class="form-div-input">
        <mat-label>Database</mat-label>
        <input matInput 
          formControlName="Database"
          placeholder="Database">
      </mat-form-field>

      <mat-form-field class="form-div-input">
        <mat-label>Authentication</mat-label>
        <input matInput 
          formControlName="Auth"
          placeholder="Auth">
      </mat-form-field>

      <mat-form-field class="form-div-input">
        <mat-label>User</mat-label>
        <input matInput 
          formControlName="User"
          placeholder="Database user">
      </mat-form-field>

      <mat-form-field class="form-div-input">
        <mat-label>Password</mat-label>
        <input matInput 
          formControlName="Password"
          placeholder="Database password">
      </mat-form-field>
    </div>

    <mat-form-field class="form-div-input">
      <mat-label>Generate Path</mat-label>
      <input matInput 
        formControlName="Path"
        placeholder="Generate Path">
    </mat-form-field>
  </div>
  <div class="form-div-input">
    <button mat-flat-button class="form-div-input-button" color="primary">Generate</button>
  </div>
</form>